.amazon-button {
    background-color: #F7CA00;
    border:1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding:3%;
    border-radius: 5px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.amazon-button:hover {
    background-color: #e2c33a;
}

.amazon-button:active {
    box-shadow: inset;
    background-color: #b2992b;
}