.checkout-product {
    box-sizing: border-box;
    padding: 12px 0 12px 12px;
    font-family: inherit;
    overflow: auto;
}

.checkout-product-container {
    margin-top: 12px;
    display: flex;
    margin-bottom: 12px;
}

.checkout-product-container > img {
    width: 10vw;
    object-fit: contain;
    margin-right: 1vw;
    display: flex;
    align-items: top;
    border: solid rgb(244, 241, 241);
    margin-bottom: 10px;
}

.checkout-product-info {
    display: flex;
    /* width:60vw; */
    gap:5vw;
}

.checkout-product-info-left {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.checkout-product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Adjust the number of lines to your preference */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.amazon-color-success {
    color: #007600!important;
}

.amazon-size-small {
    font-size: 12px!important;
    line-height: 16px!important;
}

.amazon-fulfilled {
    height:18px;
    object-fit: contain;
    object-position: 0px;
    margin: 2px 0;
}

.amazon-checkbox-label {
    position: relative;
    padding-left: 5px;
    text-indent: 0;
    display: inline-block;
}

.delivery-message {
    font-family: "Amazon Ember",Arial,sans-serif;
    box-sizing: border-box;
    margin:2px 0;
}

.amazon-color-link {
    color: #007185!important;
    cursor: pointer;
}

.amazon-color-link:hover {
    text-decoration: underline;
}

.amazon-color-link:active {
    color: #011113!important;
}

.horizontal-line {
    display: flex;
    flex-direction: row;
}

.checkout-product-info-right {
    display: flex;
    justify-content: flex-end;
    width:10vw;
}

.delete {
    display: inline-block;
    border:solid
}

.checkout-product-quantity-container {
    display: flex;
    align-items: center;
}

.checkout-product-quantity {
    margin-right:10px;
}


.left-right-border {
border-right: solid #ddd;
padding-left: 5px;
padding-right: 5px;
}