.header-container {
    /* position: sticky;
    top: 0;
    z-index:100; */
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index:100;
}
.nav-item {
    padding:7px;
    box-sizing: border-box;
    margin-right: 2px;
}

.nav-item:hover {
    border:1px solid white;
    box-sizing: border-box;
}

.header-logo {
    width: 100px;
    object-fit: contain;
    margin:0 20px;
    /* margin-top: 18px; */
}

.header-logo:hover {

}

.header-location-container {
    display: flex;
}

.header-locationPin {
    color:white;
    margin-top: 12px;
}

.header-search {
    box-sizing: border-box;
    display: flex;
    flex:1;
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #cd9042;
    align-items: center;
    border-radius: 5px;
}

.header-all {
    padding: 9px 10px; 
    background-color: #dadada ;
    color: #0F1111;
    font-family: inherit;
    font-size: small;
    border-radius: 5px 0px 0px 5px;
 }

.header-search-Input {
    padding: 10px; 
    border: none;
    width: 100%;
}

.header-searchIcon {
    padding: 5px;
    height: 22px;
    background-color: #cd9042;
    border-radius: 0px 5px 5px 0px;
}

.header-search:focus {
    box-shadow: inset 0 0 0 2px #cd9042, inset 0 0 0 4px #785324;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: white;
}

.header-optionLineOne {
    font-size: 12px;
}

.header-optionLineTwo {
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.language {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    padding-left: 7px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    cursor: pointer;
}

.header-optionBasket {
    display: flex;
    align-items: center;
    color:white;
}

.header-cart-container {
    display: flex;
}

.header-basketCount {
    position:relative;
    left:32px;
    top: -7px;
    color:#cd9042;
    z-index: 2;
}

.location {
    margin-left:0px;
    margin-right: 0px;
}

.header-cart {
    width:40px;
    object-fit: contain;
    z-index: 1;
}

.cart {
    margin-top:15px;
    margin-right: 10px;
}

.flag {
    width:14px;
    object-fit: contain;
    margin: 5px;
}

.link {
    text-decoration: none;
}



/* .item:hover {
    border:white;
} */