.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    flex-direction: column;
}

.product-container {
    display:grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: auto auto auto auto;
}
.product-home {
    padding: 2%;
}

@media only screen and (max-width: 800px) {
    .product-container {
        grid-template-columns: auto auto auto ;
    }
}

@media only screen and (max-width: 600px) {
    .product-container {
        grid-template-columns: auto auto ;
    }
}