.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    flex-direction: column;
}

.home-carousel {
    margin-bottom: -20%;
}

.home-img {
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    margin: auto;
}
.product-container {
    display:grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: auto auto auto auto;
}
.product-home {
    padding: 2%;
}
.home-row {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
@media only screen and (max-width: 800px) {
    .product-container {
        grid-template-columns: auto auto auto ;
    }
}