  .carousel-container {
    margin-bottom: -20%;
  }

 .custom-arrow {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    width: 60px;
    height: 30%;
    z-index: 5;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius:5px;
  }

  .custom-arrow:focus{
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #008296;
    border-radius:5px;
  }

  .custom-prev-arrow {
    left: 25px;
  }

  .custom-next-arrow {
    right: 25px;
  }

  .prevImg, .nextImg {
    scale:0.5;
  }

  .banner-img {
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    margin: auto;
}

  