.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    max-height: 500px;
    /* min-width: 100px; */
    background-color: white;
    z-index: 1;
    box-sizing: border-box;
}

.product-image{
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product-info {
    margin-bottom: 15px;
}

.product-title {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Adjust the number of lines to your preference */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height:3em;
}

.product-price {
    margin-top: 5px;
}

.starall {
    background-image: url("../Assets/GlobalImages/RatingImages.png");
    background-position: -2px -42px;
    height: 30px;
    width: 160px;
    scale:0.5;
    margin-left: 0px;
    position: relative;
    right:42px;
}

.product-add-to-basket-button {
    background-color: #F7CA00;
    border:1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding:1%;
    border-radius: 5px;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.product-add-to-basket-button:hover {
    background-color: #e2c33a;
}

.product-add-to-basket-button:active {
    box-shadow: inset;
    background-color: #b2992b;
}