.save-for-later-container {
    font-family: "Amazon Ember",Arial,sans-serif;
    background-color: white;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 28x;
    display: flex;
    padding:20px;
    margin:20px auto;
    width: 95%;
    justify-content: center;
    flex-direction: column;
}

hr {
    color:#EAEDED;
}

.saveforlater-product {
    border:0.5px #EAEDED solid;
    margin: 2%;
}